<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">
      <%=t TypeStudent.model_name.human %>
    </h3>
  </div>
  <div class="box-body">
    <div class="fieldset">
      <dl>
        <dt><%= TypeStudent.human_attribute_name(:name) %></dt>
        <dd><pre class="prettyprint"><%= @type_student.name %>&nbsp;</pre></dd>
      </dl>
    </div>
  </div>
  <div class="box-footer">
    <%= link_to t('.back', default: t("helpers.links.back")),
                type_students_path, class: 'btn btn-default'  %>
    <%= link_to t('.edit', default: t("helpers.links.edit")),
                edit_type_student_path(@type_student), class: 'btn btn-default' %>
    <%= link_to t('.destroy', default: t("helpers.links.destroy")),
                type_student_path(@type_student),
                method: 'delete',
                data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                class: 'btn btn-danger' %>
  </div>
</div>
