<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <div class="box box-danger">
    <div class="box-header with-border">
      <h3 class="box-title">
        Dados do <%%=t <%= singular_name.camelize %>.model_name.human %>
      </h3>
    </div>
    <div class="box-body">
    <%- attributes.each do |attribute| -%>
      <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
    <%- end -%>
    </div>
    <div class="box-footer">
      <%%= link_to t('.cancel', default: t("helpers.links.cancel")), <%= plural_name %>_path, class: 'btn btn-default'  %>
      <%%= f.submit  t('.save', default: t("helpers.links.save")), class: 'btn btn-danger' %>
    </div>
  </div>
<%% end %>
